.heroHeader {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 2% 0;

    .mainLeft {
        width: 50vw;

        h2 {
            color: $accent;
            margin-right: 5%;
            margin-bottom: 5%;
        }

        h3 {
            margin-right: 5%;
        }
    }

    .mainRight {
        width: 50vw;
        
        img {
            padding-left: 2%;  
            height: 80%;
        }
    }
}